{% extends "main/base-main.html" %}
{% block content %}
    <div class="container">
        <p {{ TBL.titre }}>List All Group For {{ full_name }}</p>
        <table {{ TBL.model }}>
            <thead {{ TBL.head }}>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody {{ TBL.body }}>

            {% for group in object %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>
                        <a {% if  perms.group.can_view_group %}
                            {{ BTN.info_tbl }}
                        {% else %}
                            {{ BTN.info_tbl_disable }}
                        {% endif %} href="{% url 'group_detail' user.id %}">Show Permissions</a>

                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>No group ...</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <a {% if  perms.user.can_add_user %}
            {{ BTN.add }}
        {% else %}
            {{ BTN.add_disable }}
        {% endif %} href="{% url 'add_user' %}">Add Group</a>
        <a {{ BTN.cancel }} href="{% url 'list_user' %}">Back</a>
    </div>
{% endblock %}