{% extends "main/base-main.html" %}

{% block content %}

    <div class="container">
        <p {{ TBL.titre }}>List all Group</p>
        <table {{ TBL.model }}>
            <thead {{ TBL.head }}>
            <tr>
                <th>Name</th>
{#                <th>Lastname</th>#}
{#                <th>Email</th>#}
{#                <th>Username</th>#}
{#                <th>Group</th>#}
                <th>Action</th>
            </tr>
            </thead>
            <tbody {{ TBL.body }}>

            {% for group in object_list %}
                <tr>
                    <td>{{ group.name }}</td>
{#                    <td>{{ user.last_name }}</td>#}
{#                    <td>{{ user.email }}</td>#}
{#                    <td>{{ user.username }}</td>#}
{#                    <td>{{ user.groups.id }}</td>#}
                    <td>
                        <a {% if  perms.user.can_change_user %}
                            {{ BTN.update_tbl }}
                        {% else %}
                            {{ BTN.update_tbl_disable }}
                        {% endif %} href="{% url 'change_password' user.id %}">Change Password</a>
                        <a {% if perms.user.can_chnage_user %}
                            {{ BTN.edit_tbl }}
                        {% else %}
                            {{ BTN.edit_tbl_disable }}
                        {% endif %} href="{% url 'edit_user' user.id %}">Edit User</a>
                        <a {% if perms.user.can_delete_user %}
                            {{ BTN.delete_tbl }}
                        {% else %}
                            {{ BTN.delete_tbl_disable }}
                        {% endif %} href="{% url 'delete_user' user.id %}">Delete User</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>No user ...</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <a {% if  perms.user.can_add_user %}
            {{ BTN.add }}
        {% else %}
            {{ BTN.add_disable }}
        {% endif %} href="{% url 'add_user' %}">Add User</a>
    </div>

{% endblock %}