{% extends "main/base-main.html" %}

{% block content %}

    <div class="container">
        <p {{ TBL.titre }}>List all Group</p>
        <table {{ TBL.model }}>
            <thead {{ TBL.head }}>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody {{ TBL.body }}>

            {% for group in object_list %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>
                        <a {% if perms.group.can_chnage_group %}
                            {{ BTN.edit_tbl }}
                        {% else %}
                            {{ BTN.edit_tbl_disable }}
                        {% endif %} href="{% url 'edit_group' group.id %}">Edit Group</a>
                        <a {% if perms.group.can_delete_group %}
                            {{ BTN.delete_tbl }}
                        {% else %}
                            {{ BTN.delete_tbl_disable }}
                        {% endif %} href="{% url 'delete_group' group.id %}">Delete Group</a>
                        <a {% if  perms.permission.can_view_permission %}
                            {{ BTN.info_tbl }}
                        {% else %}
                            {{ BTN.info_tbl_disable }}
                        {% endif %} href="{% url 'user_permissions' group.id %}">Show Permissions</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>No Group ...</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <a {% if  perms.group.can_add_group %}
            {{ BTN.add }}
        {% else %}
            {{ BTN.add_disable }}
        {% endif %} href="{% url 'add_group' %}">Add Group</a>
    </div>

{% endblock %}