{% extends "main/base-main.html" %}
{% block content %}
    <div class="table-responsive">
        <p {{ TBL.titre }}>List All User</p>
        <table {{ TBL.model }} >
            <thead {{ TBL.head }}>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>UserName</th>
                <th>Is Staff</th>
                <th>Is Active</th>
                <th>Is SuperUser</th>
                <th>Last Login</th>
                <th>Date Joined</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody {{ TBL.body }}>

            {% for user in object_list %}
                <tr>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.is_staff | yesno }}</td>
                    <td>{{ user.is_active | yesno }}</td>
                    <td>{{ user.is_superuser | yesno }}</td>
                    <td>{{ user.last_login | date:'Y-m-d G:i:s A' }}</td>
                    <td>{{ user.date_joined | date:'Y-m-d G:i:s A' }}</td>
                    <td>
                        <a {% if  perms.user.can_change_user %}
                            {{ BTN.update_tbl }}
                        {% else %}
                            {{ BTN.update_tbl_disable }}
                        {% endif %} href="{% url 'change_password' user.id %}">Change Password</a>
                        <a {% if perms.user.can_chnage_user %}
                            {{ BTN.edit_tbl }}
                        {% else %}
                            {{ BTN.edit_tbl_disable }}
                        {% endif %} href="{% url 'edit_user' user.id %}">Edit User</a>
                        <a {% if perms.user.can_delete_user %}
                            {{ BTN.delete_tbl }}
                        {% else %}
                            {{ BTN.delete_tbl_disable }}
                        {% endif %} href="{% url 'delete_user' user.id %}">Delete User</a>
                        <a {% if  perms.group.can_view_group %}
                            {{ BTN.info_tbl }}
                        {% else %}
                            {{ BTN.info_tbl_disable }}
                        {% endif %} href="{% url 'group_detail' user.id %}">Show Groups</a>
                        <a {% if  perms.permission.can_view_permission %}
                            {{ BTN.info_tbl }}
                        {% else %}
                            {{ BTN.info_tbl_disable }}
                        {% endif %} href="{% url 'user_permissions' user.id %}">Show Permissions</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>No user ...</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <br>
    <a {% if  perms.user.can_add_user %}
        {{ BTN.add }}
    {% else %}
        {{ BTN.add_disable }}
    {% endif %} href="{% url 'add_user' %}">Add User</a>
    <label><input type="checkbox" onchange="TBL_Auto(this)"/>Auto Width Table</label>
{% endblock %}